In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.mlab as mlab
import matplotlib
plt.style.use('ggplot')
from matplotlib.pyplot import figure
import matplotlib.gridspec as gridspec

from sklearn import neighbors, datasets
from sklearn import naive_bayes
from sklearn import svm
from sklearn import tree

# Importar los datos

In [7]:
df1 = pd.read_csv('tp-2020-2c-train-cols1.csv')
df2 = pd.read_csv('tp-2020-2c-train-cols2.csv')

In [5]:
df = (pd.merge(left=df2, right=df1, how="left", on="id_usuario", validate="one_to_one"))

In [8]:
df2

,tipo_de_sala,nombre,id_usuario,genero,edad,amigos,parientes,id_ticket,precio_ticket,fila,nombre_sede
0,4d,Señor Camilo Pedro,117,hombre,73.5,0,0,59258;,1,NaN,fiumark_quilmes
1,4d,Señora Raquel Angelica,658,mujer,35.0,1,1,586:6;,2,NaN,fiumark_quilmes
2,normal,Señor Antonio Federico,794,hombre,NaN,0,0,"RE""39822",3,NaN,fiumark_chacarita
3,4d,Señor Osvaldo Aureliano,455,hombre,NaN,0,0,"C17""4:39",1,NaN,fiumark_palermo
4,4d,Señorita Rita Eudosia,173,mujer,4.0,1,1,569964,2,NaN,fiumark_palermo
...,...,...,...,...,...,...,...,...,...,...,...
796,normal,Señor Bernardo Melesio,448,hombre,37.0,0,0,3359;6,3,NaN,fiumark_palermo
797,3d,Señorita Lidia Catalina,636,mujer,31.0,0,0,45988:,2,NaN,fiumark_palermo
798,4d,Señor Arturo Antenor,848,hombre,38.0,0,0,56;435,1,NaN,fiumark_chacarita
799,3d,Señorita Natividad Sofia,304,mujer,NaN,0,0,4487;5,2,adelante,fiumark_quilmes
800,4d,Señor Isidoro Sebastian,385,hombre,NaN,0,0,56;449,1,NaN,fiumark_palermo

In [9]:
df

,tipo_de_sala,nombre,id_usuario,genero,edad,amigos,parientes,id_ticket,precio_ticket,fila,nombre_sede,volveria
0,4d,Señor Camilo Pedro,117,hombre,73.5,0,0,59258;,1,NaN,fiumark_quilmes,0
1,4d,Señora Raquel Angelica,658,mujer,35.0,1,1,586:6;,2,NaN,fiumark_quilmes,0
2,normal,Señor Antonio Federico,794,hombre,NaN,0,0,"RE""39822",3,NaN,fiumark_chacarita,0
3,4d,Señor Osvaldo Aureliano,455,hombre,NaN,0,0,"C17""4:39",1,NaN,fiumark_palermo,0
4,4d,Señorita Rita Eudosia,173,mujer,4.0,1,1,569964,2,NaN,fiumark_palermo,1
...,...,...,...,...,...,...,...,...,...,...,...,...
796,normal,Señor Bernardo Melesio,448,hombre,37.0,0,0,3359;6,3,NaN,fiumark_palermo,1
797,3d,Señorita Lidia Catalina,636,mujer,31.0,0,0,45988:,2,NaN,fiumark_palermo,1
798,4d,Señor Arturo Antenor,848,hombre,38.0,0,0,56;435,1,NaN,fiumark_chacarita,0
799,3d,Señorita Natividad Sofia,304,mujer,NaN,0,0,4487;5,2,adelante,fiumark_quilmes,1
800,4d,Señor Isidoro Sebastian,385,hombre,NaN,0,0,56;449,1,NaN,fiumark_palermo,0

# Prepro

In [3]:
def prepro_1(df):
    return df

def prepro_2(df):
    return df

#...

# Entrenando modelos

### 3.1 KNN

In [ ]:
knn_weights = ['uniform','distance']
knn_neighbors = 5
clf_neighbors = neighbors.KNeighborsClassifier(knn_neighbors, knn_weights[0])
#clf_neighbors.fit(df_knn_X, df_knn_y)

### 3.2 Naive Bayes

#### 3.2.1 Gaussiano

In [ ]:
clf_nb_gauss = naive_bayes.GaussianNB()
#clf_nb_gauss.fit(df_nb_gauss_X, df_nb_gauss_y)

#### 3.2.2 Multinomial

In [18]:
nb_mult_alpha = 1.0
clf_nb_mult = naive_bayes.MultinomialNB()
#clf_nb_mult.fit(df_nb_mult_X, df_nb_mult_y)

#### 3.2.3 Complemento

In [17]:
nb_comp_alpha = 1.0
clf_nb_comp = naive_bayes.ComplementNB()
#clf_nb_comp.fit(df_nb_comp_X, df_nb_comp_y)

#### 3.2.4 Bernoulli

Entendemos que como los datos no siguen una distribucion bernoulli multivariada, el metodo no aplica.

### 3.3 SVM

#### 3.3.1 Comun

In [ ]:
clf_svc = svm.SVC()
#clf_svc.fit(df_svc_X, df_svc_y)

#### 3.3.2 Lineal

In [ ]:
clf_linear_svc = svm.LinearSVC()
#clf_svc.fit(df_svc_X, df_svc_y)

### 3.4 Regresor Lineal (Logistic Regression)

In [25]:
from sklearn.linear_model import LogisticRegression
clf_logreg = LogisticRegression()
#clf.fit(df_logreg_X, df_logreg_y)

### 3.5 Decision Tree

In [ ]:
clf_tree = tree.DecisionTreeClassifier(random_state=0, max_depth=2)
#clf_tree.fit(df_tree_X, df_tree_y)

### 3.6 Redes Neuronal

In [4]:
from tensorflow import keras
from tensorflow.keras import layers

### 3.7 Ensambles

In [21]:
from sklearn import ensemble

#### 3.7.1 RandomForest

In [22]:
random_forest = ensemble.RandomForestClassifier()
#random_forest.fit(df_rf_X, df_rf_y)

#### 3.7.2 Gradient Boost